<h1>About</h1>

<html>
<head>
<title>About this page</title>
</head>
<body>
<ul>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
</ul>
</body>
</html>

<%= link_to 'Home', root_path %>
