<h1>Home</h1>

<head>
<title>Unordered List Exercise</title>
</head>
<body>
<ul>
    <li>one</li>
    <li>one</li>
    <li>one</li>
    <li>one</li>
</ul>
</body>


<%= link_to 'About', about_path %>
